* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1{
  font-size: 50px;
  line-height:64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height:54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px; 
}
p{
  font-size: 14px;
  color: #465b52;
  margin: 0px 0 0px 0;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
body{
  width:100%;
  background: #ccc;
  
}


/*LOG-IN*/
.main {
  min-height:100vh;
  background-image: url("gadgetga.jpg");
  background-color: #d3d3d3;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 1190px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;

} 
.container1{
  display:flex;
  align-items: center;
  justify-content:right;
  min-height: 110vh;
  width: 1100px;

}

.box{
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 129px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);

}
.form-box{
  width: 450px;
  margin: 0px 10px;
}
.form-box header{
  font-size:25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom:10px;
}
.form-box form .field{
  display: flex;
  margin-bottom:10px;
  flex-direction: column;
}
.form-box form .input input{
  height: 50px;
  width:100%;
  font-size: 15px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.btn{
  height:45px;
  background: rgba(32, 32, 34, 0.802);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}
.password-container {
display: flex;
align-items: center;
border: 1px solid #ccc;
padding:  12px;
width: 400px;
margin: 0 auto;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-container input {
flex: 1;
font-size: 15px;
border: none;
outline: none;
padding: 0;
}

.password-container .show-password {
cursor: pointer;
margin-left: 10px;
user-select: none;
}
.btn:hover{
  opacity: 0.82;
}
.submit{
  width:100%;
}
.link{
margin-bottom: 15px;
font-size:13px;
text-align:right;

}
.link a{
text-decoration:none;

}
.links1{
  margin-bottom: 15px;
}

@media screen and (max-width: 500px){ 
.form-box {
  flex-wrap: wrap;
}
}

  /*REGISTER*/
  .body {
    background: #d3d3d3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .container header {
      font-size:30px;
      font-weight: 600;
      margin-bottom:5px;
  }
  .container p {
      padding-bottom: 15px;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 15px;
  }
  .container .form {
    margin-top: 10px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  #user_type{
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box label {
    color: #0e0202;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #0f0d0d;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }  
  .input-box input:focus {
    box-shadow: 0 0 129px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
  
  }
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  .form .gender-box {
    margin-top: 20px;
  }
  .gender-box h3 {
    color: #0e0202;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  .form .gender {
    column-gap: 5px;
  }
  .gender input {
    accent-color: rgb(130, 106, 251);
  }
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  .gender label {
    color: #707070;
  }
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  
  .form button {
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgba(32, 32, 34, 0.802);
  }
  .form button:hover {
    background: rgba(32, 32, 34, 0.802);
  }
  
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }
/* header of homepage */
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 10px;
    background: #d3d3d3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
  width: 200px;
  margin-top: 5px;
  margin-left: 10px;
}
#header1 {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 10px;
  background: #d3d3d3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
    
}
#header1 img{
  width: 200px;
  margin-top: 0px;
  margin-left: -80px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size:18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0,3s ease;
}


#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content:"";
  width:35%;
  height:2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    max-width: 610px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
  .select-search {
    background: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
  }
  .search-input {
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;
  }
  .search-icon {
    max-width: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #3b3b3b;
    color: #c7511f;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .links {
    display: flex;
    list-style: none;
    gap: 15px;
    flex-grow: 1;
    margin-left: 1100px; 
  }
  .links a {
    padding: 10px 0;
    color:#0e0202;
    text-decoration:none;
    
  }
  

  
/*homepage*/
  #home{
    background-image: url("img/Desktop - 1 (4).png");
    height:80vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #home h1{
    color:#088178;
  }
  #home button{
    margin-top: 30px;
    background-image: url("img/yeash.png");
    background-color: transparent;
    background-size: 100%;
    color:088178;
    border: 0;
    padding: 14px 50px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color:#d3d3d3;
    
  }
  #home2{
    background-image: url("img/Desktop - 1 (1).png");
    background-size: 10px;
    height:80vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #home2 h1{
    color:#088178;
  }
  #home2 h4{
    padding: 10px 0 0;
  }
  #home2 button{
    margin-top: 30px;
    background-image: url("img/yeash.png");
    background-color: transparent;
    background-size: 100%;
    color:088178;
    border: 0;
    padding: 14px 50px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color:#d3d3d3;
    
  }

  /*Feature*/
  #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #feature .fe-box{
    width:160px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border:1px solid #e3e3e3;
    border-radius:4px;
    margin: 15px 0;
  }
  #feature .fe-box:hover{
    box-shadow: 10px 1opx 54px rgba(70, 62, 221, 0.1);
  }
  #feature .fe-box img{
    width:100%;
    margin-bottom: 10px;
  }
  #feature .fe-box h6{
    display:inline-block;
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
  }
  
  #product{
    text-align: center;
    margin-top: 20px;
  }
  
  .shop-section {
    display: grid;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
  }
  .shop-images {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1280px;
    width: 95%;
  }
  .shop-section1 {
    display:grid;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
  }
  .shop-images1 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1280px;
    width: 100%;
  }
  
  .shop-link {
    background-color: #fff;
    padding: 30px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    white-space: nowrap;
  }
  .shop-link img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .shop-link h3 {
    margin-bottom: 10px;
  }
  .shop-link a {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: blue;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .shop-link:hover a {
    color: #c7511f;
    text-decoration: underline;
  }
  
  #product1{
    text-align: left;
  }
  #product1 .flash-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  #product1 .flash{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }
  #product1 .flash:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  }
  #product1 .flash img{
    width: 100%;
    border-radius:15px;
  }
  #product1 .flash .des{
    text-align: start;
    padding:10px 0;
  }
  #product1 .flash .des span{
    color: #606063;
    font-size: 12px;
  }
  #product1 .flash .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  #product1 .flash .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  #product1 .flash .des h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  
  #product1 .flash .button{
    background-color: #353432 ;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
  }

  /* Custom button styles */
.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em; /* Increase font size */
  padding: 10px 20px; /* Adjust padding */
  border-radius: 8px; /* Add rounded corners */
}

.custom-btn i {
  margin-left: 10px; /* Space between text and icon */
  font-size: 1.5em; /* Increase icon size */
}

.custom-btn:hover {
  background-color: #e0a800; /* Darker shade of warning color on hover */
}


/*Footer*/
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #676765;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  .footer-items {
    display: flex;
    align-items: left;
    justify-content: left;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #595959;
  }
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
    text-decoration:none;
  }
  .footer-items .col-install img{
     width: 100px;
  }
  .footer-items .col-install p{
    color:#ddd; 
  }
  .footer-items li a:hover {
    text-decoration: underline;
  }

  #col-install p{
    color:#fff;
  }
  #col-install .row{
    width: 100%;
  }


  /*Shop Page*/
  #page-header{
    background-image: url("img/Twitter header - 1 (1).png");
    width:100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }
  #page-header h2{
    color:#1a1a1a;
  }
  
  #pagination{
    text-align: center;
  }
  #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  }
  #pagination a i{
    font-size: 16px;
    font-weight: 600;
  }

  .shop-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .shop {
    margin-bottom: 20px; 
    text-align: center; 
  }

  /*sidebar*/
  .sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #f5f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo {
    padding: 9px; 
}

.logo img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(10, 10, 10);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #c7bebe;
}

.sidebar .closebtn {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    margin-left: 0;
    cursor: pointer;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: rgb(7, 7, 7);
    padding: 0px 0;
    border: none;
    margin: 0px;
}

.hidden {
    display: none;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}



/* admin homepage */
#admin {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#admin h1 {
    margin-bottom: 20px;
}

body {
  color: #ccc;
  overflow-x: hidden;
  height: 100%;
  background-color: #ccc;
  background-repeat: no-repeat;
}

.card {
  z-index: 0;
  background-color: #267da9;
  padding-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  border-radius: 10px;
}

.top {
  padding-top: 40px;
  padding-left: 13%!important;
}


/* Styles for search results */
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flash {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flash img {
  width: 100%;
  border-radius: 5px;
}

.des {
  padding: 10px 0;
}

.des span {
  font-size: 14px;
  color: #888;
}

.des h5 {
  margin: 5px 0;
}
.flash1 {
  position: relative; 
  width: 600px; 
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex; /* Flex container */
  align-items: center; /* Align items vertically */
}

.flash1 img {
  width: 50%; /* Adjust as needed */
  border-radius: 5px;
  margin-right: 10px; /* Add some space between image and description */
}

.des1 {
  flex-grow: 1; /* Take up remaining space */
  padding: 10px;
}

.des1 span {
  font-size: 14px;
  color: #888;
  display: block; /* Display category on a new line */
  margin-bottom: 0; /* Add some space below category */
}

.des1 h5 {
  margin: 10px 0;
}
.des1 span{
  margin-top: 0;
}
.des1 .star{
  margin-top: 100px;
}

.cart {
  position: absolute; /* Position the cart icon */
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  color: #3498db;
  font-size: 24px;
  text-decoration: none;
}

.cart:hover {
  color: #2980b9;
}
.star {
  color: #f39c12;
}

.star i {
  font-size: 16px;
}
